@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, colorOrange, darkPrimary, fontSizeMedium, background, spacer1, borderRadius from tokens;

.video { 
  position: relative; /* could be absolute if needed */
  left: 1px;
  width: 60vw;
  height: 100%;
}

.helper__container {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
}

.helper__wrapper {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.video__card {
  background-color: white;
  border-radius: borderRadius;
  /* box-shadow: 0 0 1rem colorOrange; */
  border: .5rem solid colorPrimary;
  overflow: hidden;
  height: 80%;
}

.helper__img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 55vh;
  width: auto;
  z-index: -1;
}

.helper__title {
  font-size: fontSizeMedium;
  color: darkPrimary;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 4rem;
}
