@value tokens: "./tokens.module.css";
@value spacerLarge, spacer1, colorPrimary, fontSizeMedium, fontSizeSmall, borderRadius from tokens;

.base {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: solight;
}

.content {
  composes: base;
  grid-row: span 2;
}

.full {
  composes: base;
  grid-row: 1 / -1;
}

.column {
  padding: spacer1;
}

.button{
  width: 24rem;
  background-color: colorPrimary;
  font-size: fontSizeSmall;
  font-weight: bold;
  padding: calc(spacer1/2);
  border-radius: borderRadius;
  color: white;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(255, 158, 69, 0.6);
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}