@value tokens: "./tokens.module.css";
@value fontSizeLarge, fontSizeMedium, background, spacer1, darkPrimary from tokens;

.title {
  font-size: fontSizeLarge;
  font-weight: bold;
}

.title__small {
  font-size: fontSizeMedium;
  font-weight: bold;
}

.text{
  font-size: fontSizeSmall;
  font-weight: normal;
  color: darkPrimary;
}

.span{
  font-size: fontSizeSmall;
  font-weight: bold;
  color: darkPrimary;
}