@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, colorGrey,  darkPrimary, fontSizeMedium, background, spacer1, borderRadius from tokens;

.container{
  width: auto;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.title {
  composes: title from "../../styles/typo.module.css";
  color: colorPrimary;
}


.button {
  composes: button from "../../styles/layouts.module.css";
}

.add{
  border-radius: borderRadius;
  width: 28rem;
  height: 40rem;
  padding: spacer1;
  border: 2px dotted rgba(22, 22, 22, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.character {
  position: absolute;
  width: 70%;
}
