@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, darkPrimary, fontSizeMedium, background, spacer1, borderRadius from tokens;

.container{
  width: 100%;
  height: 100vh;
  padding: spacer1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentHeader{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title__small {
  composes: title__small from "../../styles/typo.module.css";
  color: darkPrimary;
}

.clock {
  composes: title from "../../styles/typo.module.css";
  color: darkPrimary;
  text-align: right;
}

.button {
  composes: button from "../../styles/layouts.module.css";
}

.contentGreeting{
  width: 30rem;
}

.date {
  text-align: right;
  font-weight: bold;
  color: rgb(60, 62, 75);
}

.backButton {
  position: absolute;
  background-color: rgb(60, 62, 75);
  box-shadow: none;
}
