@value tokens: "../../styles/tokens.module.css";
@value colorPrimary, colorGrey,  darkPrimary, fontSizeMedium, fontSizeSmall, background, spacer1, borderRadius from tokens;


.form{
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

label{
  padding-bottom: 2rem;
  font-weight: bold;
  color: darkPrimary;
}

.label{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labelDate{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.error{
  padding-left: 2rem;
  color: red;
}

.errorDate{
  padding-left: 2rem;
  color: red;
}

.title{
  width: 100%;
  display: flex;
  flex-direction: column;
}

input{
  background-color: #EAEAEA;
  border: none;
  border-radius: borderRadius;
  padding: 2rem;
  margin-top: 1rem;

}

.locatie{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.beschrijving{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.beschrijving textarea{
  height: 8rem;
  background-color: #EAEAEA;
  border: none;
  height: 10rem;
  border-radius: borderRadius;
  padding: 2.5rem;
  margin-top: 1rem;
  resize: none;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: fontSizeSmall;
}

.datum{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.da{
  margin-right: 2rem;
}


.button {
  composes: button from "../../styles/layouts.module.css";
  color: white;
}

.add{
  border-radius: borderRadius;
  width: 28rem;
  height: 40rem;
  padding: spacer1;
  border: 2px dotted rgba(22, 22, 22, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image{
  width: 40%;
  position: absolute;
  right: 0rem;
  bottom: 0;
}
