@value tokens: "styles/tokens.module.css";
@value colorPrimary, darkPrimary, fontSizeMedium, background, spacer1, borderRadius from tokens;

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: spacer1;
}

.containerSidebar{
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.containerContent{
  width: 80%;
  height: 100vh;
}

.title {
  composes: title from "styles/typo.module.css";
  color: colorPrimary;
}

.button {
  composes: button from "styles/layouts.module.css";
}

.greyBackground {
  background-color: rgb(251, 251, 251);
}
